.wrap {
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner {
  /* Display */
  display: flex;

  /* 기본 */
  width: 1200px;
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner .card {
  /* 기본 */
  width: 900px;
  min-height: var(--contents-height);
  background-color: var(--card-color);

  /* 정렬 */
  position: relative;
  top: 0;
  margin: 0 auto;
}

.wrap .inner .card .description-area {
  /* 기본 */
  width: 70%;

  /* 정렬 */
  margin: 50px auto 0 auto;
  padding-bottom: 30px;
}

.wrap .inner .card .description-area h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nanum Gothic', 'sans-serif';
}

.notice {
  /* 기본 */
  display: block;
  width: 100%;
  height: 50px;

  /* 텍스트 */
  font: 12px;
  color: lightgray;
  text-align: center;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.wrap .inner .card .posting-item {
  /* 기본 */
  width: 70%;
  height: 30px;

  /* 테두리 */
  border-bottom: 0.5px solid lightgray;

  /* 텍스트 */
  font-size: 13px;

  /* 정렬 */
  left: 0;
  right: 0;
  margin: 0 auto;
}

.wrap .inner .card .posting-item .posting-container {
  /* Display */
  display: flex;

  /* 기본 */
  width: 100%;
  height: 30px;

  /* 정렬 */
  justify-content: space-between;
}

.wrap .inner .card .posting-item .posting-container .posting-content {
  /* Display */
  display: block;

  /* 기본 */
  width: 100%;
  height: 20px;

  /* 텍스트 */
  text-align: justify;
  line-height: 20px;

  /* 정렬 */
  padding: 5px 0;

  /* 기타 */
  overflow: hidden;
}


/* MEDIA QUERY */

@media screen and (max-width: 1200px) {
  .wrap {
    width: 100vw;
  }

  .wrap .inner {
    width: 100vw;
  }

  .wrap .inner .card {
    /* 기본 */
    width: 100vw;

    /* 정렬 */
    left: 0;
  }
}

@media screen and (max-width: 225px) {
  .wrap .inner .card .description-area {
    display: none;
  }

  .posting-item {
    display: none;
  }

  .posting-container {
    display: none;
  }

  .posting-content {
    display: none;
  }

  .notice {
    display: none;
  }
}