body {
  width: 100vw;

  color: #333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.4;

  overflow-x: hidden;
}

img {
  display: block;
}

a {
  color: #5C5B5B;
  text-decoration: none;

  cursor: pointer;
}

i {
  cursor: pointer;
}

.inner {
  width: 1250px;

  position: relative;
  margin: 0 auto;
}