/* VARIABLES */

:root {
  /* #F4F6FC */
  --bg-color: rgb(248, 248, 253);
  --card-color: white;
  --border-color: #E9E9E9;
  --contents-height: 100vh;
}

/* COMMON */

body {
  /* 기본 */
  width: 100vw;

  /* 텍스트 */
  color: #333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.4;

  /* 기타 */
  overflow-x: hidden;
}

img {
  display: block;
}

a {
  /* 텍스트 */
  color: #5C5B5B;
  text-decoration: none;

  /* 기타 */
  cursor: pointer;
}

i {
  cursor: pointer;
}

.inner {
  /* 기본 */
  width: 1100px;

  /* 정렬 */
  position: relative;
  margin: 0 auto;
}


/* HEADER */

header {
  /* 기본 */
  width: 100vw;
  height: 60px;
  background-color: white;

  /* 테두리 */
  border-bottom: 2px solid var(--bg-color);

  /* 정렬 */
  position: relative;
}

header .inner {
  /* 기본 */
  height: 60px;
  background-color: white;

  /* 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header .inner .logo {
  /* 기본 */
  height: 60px;

  /* 텍스트 */
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  line-height: 60px;
}

header .inner .logo img {
  /* 기본 */
  width: 150px;
  height: 30px;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;
  margin: auto;
}

/* HEADER - Search bar */

#search-bar {
  /* 기본 */
  width: 0px;
  height: 40px;

  /* 테두리 */
  border: 2px solid white;
  border-radius: 50px;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 240px;
  margin: auto 0;
  padding-left: 10px;

  /* 기타 */
  transition: 1s;
}

#search:hover~#search-bar {
  /* 기본 */
  width: 200px;

  /* 테두리 */
  border: 2px solid lightgray;
  border-radius: 50px;
}

#search-bar:hover {
  /* 기본 */
  width: 200px;

  /* 테두리 */
  border: 2px solid lightgray;
  border-radius: 50px;
}

/* HEADER - Main Menu */

header .inner .main-menu {
  /* Display */
  display: flex;

  /* 기본 */
  width: 300px;
  height: 60px;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}

header .inner .main-menu .item {
  /* 기본 */
  width: 60px;
  height: 60px;
  background-color: white;

  /* 텍스트 */
  color: gray;
  font-size: 23px;
  text-align: center;

  /* 기타 */
  transition: 0.05s;
  cursor: pointer;
}

header .inner .main-menu .item i {
  line-height: 60px;
}

header .inner .main-menu #search {
  /* 기본 */
  background-color: white;

  /* 텍스트 */
  font-size: 16px;
}

header .inner .main-menu #github:hover {
  color: black;
  font-size: 26px;
}

header .inner .main-menu #facebook:hover {
  color: #4267B2;
  font-size: 26px;
}

header .inner .main-menu #instagram:hover {
  color: #CD486B;
  font-size: 26px;
}

header .inner .main-menu #sign-in:hover {
  color: black;
  font-size: 26px;
}

[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:hover:after {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: white;
  font-size: 12px;
  content: attr(data-tooltip-text);

  margin-bottom: 10px;
  top: 130%;
  left: 0;
  padding: 7px 12px;
  position: absolute;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;

  z-index: 9999;
}


/* WRAP */

.wrap {
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner {
  /* Display */
  display: flex;

  /* 기본 */
  width: 1200px;
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner .card {
  /* 기본 */
  width: 900px;
  min-height: var(--contents-height);
  background-color: var(--card-color);

  /* 정렬 */
  position: relative;
  top: 0;
  margin: 0 auto;
}

.wrap .inner .card .description-area {
  margin: 30px 50px 0 50px;
}

.wrap .inner .card .row {
  display: flex;

  margin: 30px 50px;
}

.wrap .inner .card .row .column .column-left-items {
  width: 375px;
  height: 375px;

  margin: 0 25px 50px 0;
}

.wrap .inner .card .row .column .column-right-items {
  width: 375px;
  height: 375px;

  margin: 0 0 50px 25px;
}

.wrap .inner .card .row .column img {
  width: 375px;
  height: 225px;
}

.wrap .inner .card .row .column .item-text {
  width: 345px;
  height: 120px;
  background-color: white;

  padding: 15px;
}

.wrap .inner .card .row .column .item-text .item-text-title {
  font-size: 19px;
  line-height: 35px;
}

.wrap .inner .card .row .column .item-text .between-padding {
  width: 345px;
  height: 15px;
}

/* WRAP - Sign In */

.sign-in-form {
  /* 기본 */
  width: 460px;
  height: 300px;
  background-color: #F4F6FC;

  /* 테두리 */
  border-radius: 10px;

  /* 정렬 */
  position: relative;
  margin: 150px 220px;
  padding-top: 50px;
}

.password {
  /* 기본 */
  width: 360px;
  height: 50px;
  background-color: white;

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 정렬 */
  margin: 50px;
}

.password-textarea {
  /* 기본 */
  width: 330px;
  height: 50px;

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 텍스트 */
  line-height: 50px;

  /* 정렬 */
  margin: 0 15px;
}

.sign-in-button {
  /* 기본 */
  width: 80px;
  height: 30px;
  background-color: white;

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 텍스트 */
  color: gray;

  /* 정렬 */
  margin: 0 190px;

  /* 기타 */
  cursor: pointer;
}

.post-button {
  /* 기본 */
  width: 80px;
  height: 30px;
  background-color: white;

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  /* 텍스트 */
  color: gray;

  /* 기타 */
  cursor: pointer;
}

/* WRAP - Side Menu */

.menu {
  /* 기본 */
  width: 150px;
  height: var(--contents-height);
  background-color: var(--bg-color);

  /* 정렬 */
  position: absolute;
  top: 40px;
  left: 1050px;
}

.menu .contents {
  /* 기본 */
  width: 100px;
  height: 500px;
  background-color: var(--bg-color);

  /* 정렬 */
  margin: 10px 50px 10px 10px;
  padding: 10px;
}

.menu .contents h1 {
  /* Display */
  display: block;

  /* 기본 */
  width: 100%;
  height: 30px;

  /* 테두리 */
  border-bottom: 2px solid var(--border-color);

  /* 텍스트 */
  font-weight: bold;
}

.menu .contents h2 {
  /* Display */
  display: block;

  /* 기본 */
  width: 100%;
  height: 30px;

  /* 텍스트 */
  font-weight: bold;
}

/* WRAP - Posting */

.wrap .inner .card .writting-area {
  /* 기본 */
  width: 800px;
  height: 530px;

  /* 정렬 */
  margin: 30px 50px 0 50px;
}

.wrap .inner .card .writting-area form .title {
  /* Display */
  display: flex;

  /* 테두리 */
  border-radius: 50px;
}

.wrap .inner .card .writting-area form .title #title-input {
  /* 기본 */
  width: 800px;
  height: 50px;
  background-color: #F4F6FC;

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 텍스트 */
  font-size: 20px;
  line-height: 50px;

  /* 정렬 */
  padding: 0 10px;
}

.wrap .inner .card .writting-area form .br {
  width: 800px;
  height: 20px;
}

.wrap .inner .card .writting-area form div #contents-input {
  /* 기본 */
  width: 800px;
  height: 330px;
  background-color: #F4F6FC;

  /* 테두리 */
  border-radius: 10px;
  border: none;

  /* 텍스트 */
  font-size: 15px;

  /* 정렬 */
  padding: 10px;
}

.wrap .inner .card .writting-area form .category {
  /* 기본 */
  width: 780px;
  height: 40px;
  background-color: #F4F6FC;

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 텍스트 */
  color: gray;
  font-size: 15px;

  /* 정렬 */
  padding: 0 10px;
}

.wrap .inner .card .writting-area form .category #category-input {
  /* 기본 */
  width: 780px;
  height: 40px;
  background-color: #F4F6FC;

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 텍스트 */
  color: gray;
  font-size: 15px;
}

/*
.file-selection {
  width: 800px;
  height: 30px;

  top: 0;
  bottom: 0;
  margin: 10px 0;
}

.file-name {
  display: inline-block;

  width: 300px;
  height: 30px;

  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid var(--bg-color);
  color: #999999;
}

.file-label {
  display: inline-block;

  width: 30px;
  height: 30px;
  background-color: var(--bg-color);

  text-align: center;
  color: lightgray;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}

.file-style-reset {
  width: 0;
  height: 0;

  position: absolute;
  padding: 0;
  border: none;
  overflow: hidden;
}
*/

.wrap .inner .card .writting-area form .post-button {
  /* 기본 */
  width: 50px;
  height: 30px;
  background-color: #F4F6FC;

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 정렬 */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

  /* 텍스트 */
  color: gray;

  /* 기타 */
  cursor: pointer;
}


/* FOOTER */

footer {
  /* 기본 */
  width: 100%;
  height: 50px;
  background-color: var(--bg-color);

  /* 정렬 */
  position: relative;
  bottom: 0;
}

footer .inner {
  /* Display */
  display: inline-block;

  /* 기본 */
  width: 600px;
  height: 50px;
  background-color: var(--bg-color);

  /* 텍스트 */
  color: lightgray;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  line-height: 50px;

  /* 정렬 */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


/* MEDIA QUERY */

@media screen and (max-width: 1200px) {
  header .inner {
    width: 100vw;
  }

  .wrap {
    width: 100vw;
  }

  .wrap .inner {
    width: 100vw;
  }

  .wrap .inner .card {
    width: 100vw;

    left: 0;
  }

  .wrap .inner .card .description-area {
    width: 800px;

    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .row {
    width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  .menu {
    display: none;
  }

  footer .inner {
    width: 100vw;
  }
}

@media screen and (max-width: 800px) {
  header .inner {
    width: 100vw;
  }

  header .inner #search-bar {
    display: none;
  }

  header .inner .main-menu {
    display: none;
  }

  .wrap {
    width: 100vw;
  }

  .wrap .inner {
    width: 100vw;
  }

  .wrap .inner .card {
    width: 100vw;
  }

  .wrap .inner .card .description-area {
    width: 375px;

    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .row {
    display: block;

    width: 375px;

    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  .wrap .inner .card .row .column .column-right-items {
    margin: 0 0 50px 0;
  }

  .menu {
    display: none;
  }

  footer .inner {
    width: 100vw;
  }
}

@media screen and (max-width: 375px) {}