header {
  /* 기본 */
  width: 100vw;
  height: 60px;
  background-color: white;

  /* 테두리 */
  border-bottom: 2px solid var(--bg-color);

  /* 정렬 */
  position: relative;
}

header .inner {
  /* 기본 */
  height: 60px;

  /* 정렬 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header .inner .logo {
  height: 60px;
}

header .inner .logo img {
  /* 기본 */
  width: 123px;
  height: 30px;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto;
}

/* HEADER - 메인 메뉴 */

header .inner .main-menu {
  /* Display */
  display: flex;

  /* 기본 */
  width: 240px;
  height: 60px;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}

header .inner .item {
  /* 기본 */
  width: 60px;
  height: 60px;
  background-color: white;

  /* 텍스트 */
  color: gray;
  font-size: 23px;
  text-align: center;

  right: 0;

  /* 기타 */
  transition: 0.05s;
  cursor: pointer;
}

header .inner .main-menu .item i {
  line-height: 60px;
}

header .inner .main-menu #search {
  /* 기본 */
  background-color: white;

  /* 텍스트 */
  font-size: 16px;
}

header .inner .main-menu #github:hover {
  color: black;
  font-size: 26px;
}

header .inner .main-menu #facebook:hover {
  color: #4267B2;
  font-size: 26px;
}

header .inner .main-menu #instagram:hover {
  color: #CD486B;
  font-size: 26px;
}

header .inner .main-menu #sign-in:hover {
  color: black;
  font-size: 26px;
}

[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:hover:after {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: white;
  font-size: 12px;
  content: attr(data-tooltip-text);

  margin-bottom: 10px;
  top: 130%;
  left: 0;
  padding: 7px 12px;
  position: absolute;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;

  z-index: 9999;
}

header .inner #hidden-menu {
  /* Display */
  display: none;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}

header .inner #hidden-menu i {
  color: black;
  font-size: 23px;
  line-height: 60px;
}

#tab-down {
  /* Display */
  display: block;

  /* 기본 */
  width: 100vw;
  height: 0;
  background-color: rgb(57, 57, 57);

  /* 정렬 */
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
  transition: 0.4s;
  pointer-events: none;
  opacity: 0.97;
}

#tab-down-inner {
  /* 기본 */
  width: 100vw;
  height: 230px;

  /* 텍스트 */
  color: white;

  /* 기타 */
  pointer-events: none;
}

#tab-sign {
  /* Display */
  display: block;

  /* 텍스트 */
  font-weight: bold;

  /* 정렬 */
  padding: 20px;

  /* 기타 */
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

#tab-search-container {
  display: flex;

  /* 정렬 */
  padding: 20px;

  /* 기타 */
  opacity: 0;
  pointer-events: none;
}

#tab-search {
  /* 기본 */
  width: 200px;
  height: 30px;
  background-color: rgb(83, 81, 81);

  color: white;

  /* 테두리 */
  border: none;
  border-radius: 10px;

  /* 기타 */
  opacity: 0;
  pointer-events: none;
}

#tab-items {
  /* 텍스트 */
  font-size: 15px;

  /* 정렬 */
  padding: 0 20px;

  /* 기타 */
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
}

#tab-items li a {
  /* Display */
  display: block;

  /* 텍스트 */
  color: white;
}

#tab-post-container {
  /* Display */
  display: block;

  /* 기본 */
  height: 22px;

  /* 정렬 */
  padding: 20px 20px 0 20px;

  /* 기타 */
  opacity: 0;
  pointer-events: none;
}

.tab-post-button {
  /* 기본 */
  width: 100%;

  /* 텍스트 */
  color: white;
  font-weight: bold;

  /* 기타 */
  cursor: pointer;
}

.tab-search-button {
  /* 기본 */
  width: 30px;
  height: 30px;
  background-color: rgb(122, 121, 121);

  /* 테두리 */
  border: none;
  border-radius: 50px;

  /* 정렬 */
  margin-left: 10px;

  /* 텍스트 */
  color: white;

  /* 기타 */
  cursor: pointer;
}

#tab-search-button {
  background-color: white;

  color: gray;

  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding: 0;
}

/* MEDIA QUERY */

@media screen and (min-width: 1250px) {

  #tab-down,
  #tab-down-inner,
  #tab-sign,
  #tab-items,
  #tab-items li,
  #tab-items li a,
  #tab-post-container {
    /* 기본 */
    width: 1250px;

    /* 정렬 */
    margin-right: 0;
  }

}

@media screen and (max-width: 1250px) {
  header .inner {
    width: 100vw;
  }

  header .inner #search-bar {
    display: none;
  }

  header .inner .main-menu {
    display: none;
  }

  header .inner #hidden-menu {
    display: block;
  }

  #search-container {
    display: none;
  }
}

@media screen and (max-width: 225px) {
  header .inner {
    display: none;
  }
}