.wrap {
  background-color: var(--bg-color);
  height: 1910px;
}

.wrap .inner {
  /* Display */
  display: flex;

  /* 기본 */
  width: 1200px;
  height: 1910px;
  background-color: var(--bg-color);
}

.wrap .inner .card {
  /* 기본 */
  width: 900px;
  height: 1910px;
  background-color: var(--card-color);

  /* 정렬 */
  position: relative;
  top: 0;
  margin: 0 auto;
}

.wrap .inner .card .description-area {
  /* 기본 */
  height: 30px;

  /* 텍스트 */
  line-height: 30px;

  /* 정렬 */
  margin: 30px 50px 0 50px;
}

.wrap .inner .card .description-area h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nanum Gothic', 'sans-serif';
}

.wrap .inner .card .row {
  /* Display */
  display: flex;

  /* 기본 */
  height: 1820px;

  /* 정렬 */
  margin: 30px 50px;
}

.wrap .inner .card .row .column a {
  display: block;
}

.wrap .inner .card .row .column .column-left-items {
  /* 기본 */
  width: 375px;
  height: 375px;

  /* 정렬 */
  margin: 0 25px 50px 0;
}

.wrap .inner .card .row .column .column-right-items {
  /* 기본 */
  width: 375px;
  height: 375px;

  /* 정렬 */
  margin: 0 0 50px 25px;
}

#long-1 {
  height: 420px;
}

#long-2 {
  height: 450px;
}

.wrap .inner .card .row .column img {
  width: 375px;
  height: 225px;
}

.wrap .inner .card .row .column .item-text {
  /* 기본 */
  width: 345px;
  height: 120px;
  background-color: white;

  /* 정렬 */
  padding: 15px;
}

.wrap .inner .card .row .column .item-text .item-text-title {
  font-size: 19px;
  line-height: 35px;
}

.wrap .inner .card .row .column .item-text .between-padding {
  width: 100%;
  height: 15px;
}


/* MEDIA QUERY */

@media screen and (max-width: 1200px) {
  .wrap {
    width: 100vw;
    height: 1910px;
  }

  .wrap .inner {
    width: 100vw;
    height: 1910px;
  }

  .wrap .inner .card {
    /* 기본 */
    width: 100vw;
    height: 1910px;

    /* 정렬 */
    left: 0;
  }

  .wrap .inner .card .description-area {
    /* 기본 */
    width: 800px;
    height: 30px;

    /* 텍스트 */
    line-height: 30px;

    /* 정렬 */
    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .row {
    /* 기본 */
    width: 800px;
    height: 1820px;

    /* 정렬 */
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  footer .inner {
    width: 100vw;
  }
}

@media screen and (max-width: 900px) {
  .wrap {
    width: 100vw;
    height: 4690px;
  }

  .wrap .inner {
    width: 100vw;
    height: 4690px;
  }

  .wrap .inner .card {
    width: 100vw;
    height: 4690px;
  }

  .wrap .inner .card .description-area {
    /* 기본 */
    width: 600px;
    height: 30px;

    /* 텍스트 */
    line-height: 30px;

    /* 정렬 */
    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .row {
    /* Display */
    display: block;

    /* 기본 */
    width: 600px;
    height: 4550px;

    /* 정렬 */
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  .wrap .inner .card .row .column {
    width: 600px;
  }

  .wrap .inner .card .row .column .column-left-items {
    width: 600px;
    height: 510px;
  }

  .wrap .inner .card .row .column .column-right-items {
    width: 600px;
    height: 510px;

    margin: 0 0 50px 0;
  }

  .wrap .inner .card .row .column img {
    width: 600px;
    height: 360px;
  }

  .wrap .inner .card .row .column .item-text {
    width: 570px;
  }

  #long-1 {
    height: 555px;
  }

  #long-2 {
    height: 585px;
  }
}

@media screen and (max-width: 675px) {
  .wrap {
    width: 100vw;
    height: 4150px;
  }

  .wrap .inner {
    width: 100vw;
    height: 4150px;
  }

  .wrap .inner .card {
    width: 100vw;
    height: 4150px;
  }

  .wrap .inner .card .description-area {
    /* 기본 */
    width: 487.5px;
    height: 30px;

    /* 텍스트 */
    line-height: 30px;

    /* 정렬 */
    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .row {
    /* Display */
    display: block;

    /* 기본 */
    width: 487.5px;
    height: 4010px;

    /* 정렬 */
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  .wrap .inner .card .row .column {
    width: 487.5px;
  }

  .wrap .inner .card .row .column .column-left-items {
    width: 487.5px;
    height: 442.5px;
  }

  .wrap .inner .card .row .column .column-right-items {
    width: 487.5px;
    height: 442.5px;

    margin: 0 0 50px 0;
  }

  .wrap .inner .card .row .column img {
    width: 487.5px;
    height: 292.5px;
  }

  .wrap .inner .card .row .column .item-text {
    width: 457.5px;
  }

  #long-1 {
    height: 487.5px;
  }

  #long-2 {
    height: 517.5px;
  }
}

@media screen and (max-width: 562.5px) {
  .wrap {
    width: 100vw;
    height: 3610px;
  }

  .wrap .inner {
    width: 100vw;
    height: 3610px;
  }

  .wrap .inner .card {
    width: 100vw;
    height: 3610px;
  }

  .wrap .inner .card .description-area {
    /* 기본 */
    width: 375px;
    height: 30px;

    /* 텍스트 */
    line-height: 30px;

    /* 정렬 */
    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .row {
    /* Display */
    display: block;

    /* 기본 */
    width: 375px;
    height: 3470px;

    /* 정렬 */
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  .wrap .inner .card .row .column {
    width: 375px;
  }

  .wrap .inner .card .row .column .column-left-items {
    width: 375px;
    height: 375px;
  }

  .wrap .inner .card .row .column .column-right-items {
    /* 기본 */
    width: 375px;
    height: 375px;

    /* 정렬 */
    margin: 0 0 50px 0;
  }

  .wrap .inner .card .row .column img {
    width: 375px;
    height: 225px;
  }

  .wrap .inner .card .row .column .item-text {
    width: 345px;
  }

  #long-1 {
    height: 420px;
  }

  #long-2 {
    height: 450px;
  }
}

@media screen and (max-width: 450px) {
  .wrap {
    width: 100vw;
    height: 3154px;
  }

  .wrap .inner {
    width: 100vw;
    height: 3154px;
  }

  .wrap .inner .card {
    width: 100vw;
    height: 3154px;
  }

  .wrap .inner .card .description-area {
    /* 기본 */
    width: 280px;
    height: 30px;

    /* 텍스트 */
    line-height: 30px;

    /* 정렬 */
    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .row {
    /* Display */
    display: block;

    /* 기본 */
    width: 280px;
    height: 3014px;

    /* 정렬 */
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  .wrap .inner .card .row .column {
    width: 280px;
  }

  .wrap .inner .card .row .column .column-left-items {
    width: 280px;
    height: 318px;
  }

  .wrap .inner .card .row .column .column-right-items {
    /* 기본 */
    width: 280px;
    height: 318px;

    /* 정렬 */
    margin: 0 0 50px 0;
  }

  .wrap .inner .card .row .column img {
    width: 280px;
    height: 168px;
  }

  .wrap .inner .card .row .column .item-text {
    width: 250px;
  }

  #long-1 {
    height: 363px;
  }

  #long-2 {
    height: 393px;
  }
}

@media screen and (max-width: 337.5px) {
  .wrap {
    width: 100vw;
    height: 3010px;
  }

  .wrap .inner {
    width: 100vw;
    height: 3010px;
  }

  .wrap .inner .card {
    width: 100vw;
    height: 3010px;
  }

  .wrap .inner .card .description-area {
    /* 기본 */
    width: 250px;
    height: 30px;

    /* 텍스트 */
    line-height: 30px;

    /* 정렬 */
    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .row {
    /* Display */
    display: block;

    /* 기본 */
    width: 240px;
    height: 2870px;

    /* 정렬 */
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  .wrap .inner .card .row .column {
    width: 240px;
  }

  .wrap .inner .card .row .column .column-left-items {
    width: 240px;
    height: 300px;
  }

  .wrap .inner .card .row .column .column-right-items {
    width: 240px;
    height: 300px;
  }

  #long-1 {
    height: 345px;
  }

  #long-2 {
    height: 375px;
  }

  .wrap .inner .card .row .column img {
    width: 240px;
    height: 150px;
  }

  .wrap .inner .card .row .column .item-text {
    /* 기본 */
    width: 210px;

    /* 기타 */
    overflow: hidden;
  }
}

@media screen and (max-width: 255px) {
  .wrap .inner .card .description-area {
    display: none;
  }

  .wrap .inner .card .row {
    display: none;
  }
}