.wrap {
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner {
  /* Display */
  display: flex;

  /* 기본 */
  width: 1250px;
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner .card {
  /* 기본 */
  width: 900px;
  min-height: var(--contents-height);
  background-color: var(--card-color);

  /* 정렬 */
  position: relative;
  top: 0;
  margin: 0 auto;
}

.post-container {
  margin: 50px;
}

.post-title {
  /* 텍스트 */
  font-size: 30px;
  font-weight: bold;

  /* 기타 */
  overflow-x: hidden;
}

.post-line {
  width: 800px;
  height: 2px;
  background-color: lightgray;
}

.post-contents {
  /* 텍스트 */
  font-size: 20px;

  /* 기타 */
  overflow-x: hidden;
}

.post-contents img {
  width: 100%;
}

.button-container {
  /* Display */
  display: flex;

  /* 기본 */
  width: 800px;
  height: 20px;

  /* 정렬 */
  left: 0;
  bottom: 0;
  margin: 50px;
}

.update-delete-button {
  /* 기본 */
  width: 60px;
  height: 20px;

  /* 텍스트 */
  font-size: 15px;
  text-align: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 1250px) {
  .wrap {
    width: 100vw;
  }

  .wrap .inner {
    width: 100vw;
  }

  .wrap .inner .card {
    /* 기본 */
    width: 100vw;

    /* 정렬 */
    left: 0;
  }

  .post-line {
    width: 100vw;
  }

  .button-container {
    width: 80vw;
  }
}

@media screen and (max-width: 250px) {
  .button-container {
    display: none;
  }
}

@media screen and (max-width: 225px) {
  .post-container {
    display: none;
  }
}