.wrap {
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner {
  /* Display */
  display: flex;

  /* 기본 */
  width: 100vw;
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner .card {
  /* 기본 */
  width: 100vw;
  min-height: var(--contents-height);
  background-color: var(--card-color);

  /* 정렬 */
  position: relative;
  top: 0;
  margin: 0 auto;
}

.wrap .wrap-deco {
  /* 기본 */
  width: 0px;
  height: 0px;

  /* 테두리 */
  border-bottom: 500px solid rgb(220, 220, 245);
  border-right: 0px solid transparent;
  border-left: 1000px solid transparent;

  /* 정렬 */
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.signin-container {
  /* Display */
  display: flex;

  /* 기본 */
  width: 900px;
  height: 500px;

  /* 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 500;
}

.signin-left-image {
  width: 50%;
  height: 100%;
}

.signin-left-image img {
  width: 100%;
  height: 100%;
}

.signin-main {
  width: 50%;
  height: 100%;
  background-color: white;

  position: relative;
}

.wrap .inner .card .sign-in-description-area {
  width: 350px;
  margin: 60px auto 0 auto;
}

.wrap .inner .card .description-area h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nanum Gothic', 'sans-serif';
}

.sign-in-form {
  /* 기본 */
  width: 375px;
  height: 230px;
  background-color: white;

  /* 정렬 */
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto;
}

.password {
  /* 기본 */
  width: 350px;
  height: 50px;
  background-color: white;

  /* 테두리 */
  border-bottom: 2px solid gray;

  /* 정렬 */
  margin: 50px auto;
}

.password-textarea {
  /* 기본 */
  width: 350px;
  height: 50px;

  /* 테두리 */
  border: none;

  /* 텍스트 */
  line-height: 50px;

  /* 기타 */
  overflow: hidden;
}

.sign-in-button {
  /* 기본 */
  width: 85px;
  height: 30px;
  background-color: rgb(100, 100, 220);

  /* 테두리 */
  border: none;
  border-radius: 5px;

  /* 텍스트 */
  color: white;

  /* 정렬 */
  margin-left: 12px;

  /* 기타 */
  cursor: pointer;
}

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {
  .wrap {
    width: 100vw;
  }

  .wrap .inner {
    width: 100vw;
  }

  .wrap .inner .card {
    width: 100vw;

    left: 0;
  }

  .wrap .wrap-deco {
    border-bottom: 300px solid rgb(220, 220, 245);
    border-right: 0px solid transparent;
    border-left: 600px solid transparent;
  }

  .signin-container {
    display: block;

    width: 450px;
  }

  .signin-left-image {
    display: none;
  }

  .signin-main {
    width: 450px;
  }

  .wrap .inner .card .sign-in-description-area {
    margin: 0 auto;
    padding-top: 60px;
  }
}

@media screen and (max-width: 470px) {
  .signin-container {
    display: block;

    width: 250px;
  }

  .signin-main {
    width: 250px;
  }

  .wrap .inner .card .sign-in-description-area {
    width: 150px;

    margin: 0 auto;
    padding-top: 60px;
  }

  .sign-in-description-area h1 {
    width: 150px;
  }

  .sign-in-form {
    width: 175px;
  }

  .password {
    width: 150px;
  }

  .password .password-textarea {
    width: 150px;
  }
}