.wrap {
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner {
  display: flex;

  width: 1250px;
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner .card {
  width: 900px;
  min-height: var(--contents-height);
  background-color: var(--card-color);

  position: relative;
  top: 0;
  margin: 0 auto;
}

.wrap .inner .card .description-area {
  width: 70%;
  height: 30px;

  line-height: 30px;

  margin: 50px auto 0 auto;
  padding-left: 10px;
}

.wrap .inner .card .description-area h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nanum Gothic', 'sans-serif';
}

#writting-area {
  width: 100%;
  height: 1070px;
  position: relative;
}

#writting-form {
  width: 70%;
  height: 950px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto 90px auto;
}

#title-area {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  overflow: hidden;
}

#dividing-line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#content-area {
  width: 100%;
  height: 700px;
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 10px;
  white-space: pre-wrap;
}

#subcategory-area {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  font-size: 15px;
  line-height: 30px;
  padding: 10px;
  overflow: hidden;
}

textarea {
  resize: none;
}

.category {
  height: 40px;
  background-color: white;

  border: none;

  color: gray;
  font-size: 15px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: 0 7px;
}

#category-input {
  width: 100%;
  height: 40px;
  background-color: white;

  border: none;

  color: gray;
  font-size: 15px;
}

.post-button {
  width: 50px;
  height: 30px;
  background-color: rgb(100, 100, 220);

  border: none;
  border-radius: 5px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;

  color: white;

  cursor: pointer;
}

.br {
  width: 100%;
  height: 20px;
}


/* MEDIA QUERY */

@media screen and (max-width: 1250px) {
  .wrap {
    width: 100vw;
  }

  .wrap .inner {
    width: 100vw;
  }

  .wrap .inner .card {
    width: 100vw;

    left: 0;
  }
}

@media screen and (max-width: 225px) {
  .wrap .inner .card {
    display: none;
  }
}