.wrap {
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner {
  /* Display */
  display: flex;

  /* 기본 */
  width: 1200px;
  min-height: var(--contents-height);
  background-color: var(--bg-color);
}

.wrap .inner .card {
  /* 기본 */
  width: 900px;
  min-height: var(--contents-height);
  background-color: var(--card-color);

  /* 정렬 */
  position: relative;
  top: 0;
  margin: 0 auto;
}

.wrap .inner .card .description-area {
  margin: 30px 50px 0 50px;
}

.wrap .inner .card .writting-area {
  /* 기본 */
  width: 800px;
  height: 530px;

  /* 정렬 */
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto;
}

.wrap .inner .card .writting-area form {
  /* 기본 */
  width: 100%;
  height: 510px;

  /* 정렬 */
  position: relative;
}

.wrap .inner .card .writting-area form .title {
  /* Display */
  display: flex;

  /* 기본 */
  height: 70px;
}

.wrap .inner .card .writting-area form .title #title-input {
  /* 기본 */
  width: 800px;
  height: 70px;
  background-color: white;

  /* 테두리 */
  border: none;

  /* 텍스트 */
  font-size: 20px;
  line-height: 50px;

  /* 정렬 */
  padding: 10px;

  /* 기타 */
  overflow: hidden;
}

.wrap .inner .card .writting-area form textarea {
  resize: none;
}

.wrap .inner .card .writting-area form .border {
  width: 780px;
  height: 1px;
  background-color: lightgray;

  left: 0;
  right: 0;
  margin: 0 auto;
}

.wrap .inner .card .writting-area form .br {
  width: 800px;
  height: 20px;
}

.wrap .inner .card .writting-area form div #contents-input {
  /* 기본 */
  width: 800px;
  height: 800px;
  background-color: white;

  /* 테두리 */
  border: none;

  /* 텍스트 */
  font-size: 15px;

  /* 정렬 */
  padding: 10px;
}

.wrap .inner .card .writting-area form .category {
  /* 기본 */
  width: 800px;
  height: 40px;
  background-color: white;

  /* 테두리 */
  border: none;

  /* 텍스트 */
  color: gray;
  font-size: 15px;

  /* 정렬 */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.wrap .inner .card .writting-area form .category #category-input {
  /* 기본 */
  width: 790px;
  height: 40px;
  background-color: white;

  /* 테두리 */
  border: none;

  /* 텍스트 */
  color: gray;
  font-size: 15px;

  /* 정렬 */
  padding: 0 10px;
}

.wrap .inner .card .writting-area form .post-button {
  /* 기본 */
  width: 50px;
  height: 30px;
  background-color: white;

  /* 테두리 */
  border: none;

  /* 정렬 */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

  /* 텍스트 */
  color: gray;

  /* 기타 */
  cursor: pointer;
}

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {
  .wrap {
    width: 100vw;
  }

  .wrap .inner {
    width: 100vw;
  }

  .wrap .inner .card {
    width: 100vw;

    left: 0;
  }

  .wrap .inner .card .description-area {
    width: 800px;

    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 850px) {
  .wrap {
    width: 100vw;
  }

  .wrap .inner {
    width: 100vw;
  }

  .wrap .inner .card {
    width: 100vw;
  }

  .wrap .inner .card .description-area {
    width: 375px;

    margin: 30px auto 0 auto;
  }

  .wrap .inner .card .writting-area {
    width: 375px;
  }

  .wrap .inner .card .writting-area form {
    width: 375px;
  }

  .wrap .inner .card .writting-area form .title {
    width: 375px;
  }

  .wrap .inner .card .writting-area form .title #title-input {
    width: 375px;
  }

  .wrap .inner .card .writting-area form .border {
    width: 355px;
  }

  .wrap .inner .card .writting-area form .br {
    width: 375px;
  }

  .wrap .inner .card .writting-area form div #contents-input {
    width: 375px;
  }

  .wrap .inner .card .writting-area form .category {
    width: 375px;
  }

  .wrap .inner .card .writting-area form .category #category-input {
    width: 365px;
  }
}